*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* inizio css nav */
header{
    background-color: #ccc;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0 16px;
    max-width: 1280px;
    margin: 0 auto;
}

header nav{
    display: flex;
    gap: 20px;
}

header nav a{
    color: black;
    text-decoration: none;
    transition: all ease 200ms;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

header nav a:hover{
    color: red;
    transform: scale(1.2);
}

header nav a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: red;
    display: block;
    transition: all ease 200ms;
    position: absolute;
    left: 0;
    bottom: -0.5rem;
}

header nav a:hover::after{
    width: 100%;
}
 /* fine css nav */

 /* debug per controllo dimenzioni del div */
.debug{
    border: 2px solid red;
}
.debug1{
    border: 2px solid blue;
}
/* debug per controllo dimenzioni del div */

body{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
}

img{
    max-width: 100px;
}

.buttonGioco{
    background-color: red;
    width: auto;
    height: 20px;
    /* margin-left:380px;
    margin-bottom: 10px; */
    /* position: absolute; */
    /* position: fixed; */

}


.containerCard1, .containerCard2{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.containerCard1 > .casellaGioco{
    display: flex;
    background-color: gray;
    border: 2px solid red;
    width: 500px;
    height: 150px;
}
.wrapCasellaGioco{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* inizio css footer */
.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .pagine ul,
  .link ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .pagine a,
  .link a {
    text-decoration: none;
  }
  
  .pagine p,
  .link p {
    margin: 15px 0;
    font-size: 30px;
    text-decoration: underline;
    color: #fff;
  }
  
  .pagine li,
  .link li {
    list-style-type: none;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  footer {
    background-color: #000;
    height: 200px;
    padding: 40px;
    flex-wrap: nowrap;
  }
  
  footer span {
    margin-top: 100px;
    font-size: 0.9em;
    color: #fff;
  }
/* fine css footer */