*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
    text-transform: capitalize;
}

/* inizio css nav */
header{
  background-color: #ccc;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 16px;
  max-width: 1280px;
  margin: 0 auto;
}


header nav{
  display: flex;
  gap: 20px;
}

header nav a{
  color: black;
  text-decoration: none;
  transition: all ease 200ms;
  position: relative;
  font-size: 20px;
  font-weight: 600;
}

header nav a:hover{
  color: red;
  transform: scale(1.2);
}

header nav a::after{
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  display: block;
  transition: all ease 200ms;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

header nav a:hover::after{
  width: 100%;
}
/* fine css nav */

main{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: black;
  color: white;
  height: calc(100vh - 220px);
}

h1{
  color: #F9AC0F;
  font-size: 48px;
  padding: 15px;
}

.show{
  gap: 15px;
}

.group-choises{
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.wrapper{
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

#show{
  visibility: hidden;
}

#show h2{
  padding: 10px;
}

.show-choises{
  visibility: visible !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: white;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 4px solid rgb(0, 0, 255);
    border-radius: 1000px;
    padding: 8px;
  }

  label img{
    height: 100px;
    width: 100px;
  }

  .choises{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */

  }

  .choises label{
    margin-top: 30px;
  }

  .button-block h2{
    margin-top: 50px; 

  }

  #play{
    padding: 8px 25px;
    background-color: #F9AC0F;
    font-size: 20px;
    font-weight: 600;
  }

  /* inizio css footer */
.footer {
  display: flex;
  justify-content: space-between;
  height: 150px;
  flex-wrap: nowrap;
  background-color: black;
}

.pagine ul, .link ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pagine a, .link a {
  text-decoration: none;
}

.pagine p, .link p {
  margin: 15px 0;
  font-size: 22px;
  text-decoration: underline;
  color: #fff;
}

.pagine li, .link li {
  list-style-type: none;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer span {
  margin-top: 100px;
  font-size: 0.9em;
  color: #fff;
}
/* fine css footer */

