*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*tag*/
div{
    border: 2px solid blueviolet;
}



body{
    background-color: black;
    color: white;
    
    
}

nav{
    border: 2px solid aquamarine;
    height: 100px;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: aquamarine;
}

/*classi*/
/*navbar*/
.logo{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

.titoloPag{
    text-align: center;
}

/*menu altri giochi*/

/*sezoini descrittiva del gioco*/

.introGame{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.introGame.p{
    text-align: center;
}

/*parte interattiva della pag*/

.interazione{
    display: flex;
    justify-content: center;
}

input[type="text"], button{
    margin: 15px;
}

.interazione button{
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 18px;        
}

/*risultato*/

.secretWord{
    display: flex;
    justify-content: center;
}