*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*tag*/
div{
    border: 2px solid blueviolet;
}

body{
    background-color: black;
    color: white;
}

nav{
    border: 2px solid aquamarine;
    height: 100px;
    align-items: center;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: aquamarine;
}

/*classi*/
.logo{
    width: 100px;
    height: 100px;
    border: 1px solid green;
}

.titoloPag{
    text-align: center;
}

/*menu altri giochi*/

.introGame.p{
    text-align: center;
}

.introGame{
    align-items: center;
    display: flex;
    background-color: chocolate;
    width: 600px;
    height: 300px;
}